<footer class="footer container">
    <div id="footer-inner" class="row">
        <div class="content" style="margin: 30px; text-align: center">
            <p style="color: white">&copy;2020-<script>document.write(new Date().getFullYear())</script> Institute for Future Intelligence, Inc. All Rights Reserved.
                <br><span style="font-size: 12px"><img src="image/us-flag.jpg" alt="US flag" style="height: 12px; width: auto; vertical-align: middle"> Made possible by U.S. tax payers through generous funding from the National Science Foundation and the National Institutes of Health</span>
            </p>
        </div>
    </div>
</footer>
