<footer class="footer container">
    <div id="footer-inner" class="row">
        <div class="footer-block">
            <p class="footer-copyright">&copy;2020-<script>document.write(new Date().getFullYear())</script> Institute for Future Intelligence, Inc. All Rights Reserved.</p>
            <p class="footer-ack"><img src="image/us-flag.jpg" alt="US flag"> Made possible by U.S. tax payers through generous funding from the National Science Foundation and the National Institutes of Health</p>
        </div>
    </div>
</footer>
