<header id="navbar" role="banner" class="navbar container navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="logoifi navbar-btn pull-left" title="Home" href="index.html">
                <img class="logo-default" src="image/logo.png" alt="Institute for Future Intelligence" />
                <img class="logo-sticky" src="image/logo-noname.png" alt="Institute for Future Intelligence" />
            </a>

            <a class="name navbar-brand" title="Home" href="index.html">Institute for Future Intelligence</a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-wrap">
                <span class="text-wrap">Menu</span>
                <span class="icon-bar-wrap">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
            </button>
        </div>

        <div class="navbar-collapse collapse nav-wrap">
            <nav role="navigation">
                <div class="region region-navigation">
                    <div id="block-menu-block-2" class="block block-menu-block">
                        <div class="content">
                            <div class="menu-block-wrapper menu-block-2 menu-name-main-menu parent-mlid-0 menu-level-1">
                                <ul class="menu nav">
                                    <li class="first expanded menu-mlid-430 dropdown">
                                        <a href="index.html" class="dropdown-toggle disabled" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="false" data-target="#">About<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li class="leaf menu-mlid-1092"><a href="mission.html" title="Mission">Mission</a></li>
                                            <li class="leaf menu-mlid-1092"><a href="bod.html" title="BOD">Board of Directors</a></li>
                                            <li class="first leaf has-children menu-mlid-1132"><a href="people.html" title="Staff">Staff</a></li>
                                            <li class="first leaf has-children menu-mlid-1132"><a href="collaborators.html" title="Collaborators">Collaborators</a></li>
                                            <li class="first leaf has-children menu-mlid-1132"><a href="international.html" title="International cooperation">International</a></li>
                                            <li class="first leaf has-children menu-mlid-1132"><a href="career.html" title="Career">Careers</a></li>
                                            <li class="last leaf has-children menu-mlid-1438"><a href="fcoi.pdf" title="FCOI">FCOI Policy</a></li>
                                            <li class="last leaf has-children menu-mlid-1438"><a href="contact.html" title="Contact Us">Contact Us</a></li>
                                        </ul>
                                    </li>
                                    <li class="expanded menu-mlid-431 dropdown">
                                        <a href="index.html" class="dropdown-toggle disabled" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="false" data-target="#">Products<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li class="first leaf menu-mlid-1141"><a href="aims.html" title="">AIMS</a></li>
                                            <li class="leaf menu-mlid-1135"><a href="aladdin.html" title="">Aladdin</a></li>
                                            <li class="leaf menu-mlid-1135"><a href="energy2d.html" title="">Energy2D</a></li>
                                            <li class="leaf menu-mlid-1135"><a href="iflow.html" title="">iFlow</a></li>
                                            <li class="leaf menu-mlid-1135"><a href="ie.html" title="">Infrared Explorer</a></li>
                                            <li class="leaf menu-mlid-1135"><a href="isv.html" title="">Infrared Street View</a></li>
                                            <li class="leaf menu-mlid-1145"><a href="nexlab.html" title="">NexLAB</a></li>
                                            <li class="leaf menu-mlid-1135"><a href="quantum.html" title="">Quantum Explorer</a></li>
                                            <li class="leaf menu-mlid-1145"><a href="scifi.html" title="">Sci-Fi Studio</a></li>
                                            <li class="leaf menu-mlid-1145"><a href="telelab.html" title="">Telelab</a></li>
                                        </ul>
                                    </li>
                                    <li class="expanded menu-mlid-431 dropdown">
                                        <a href="index.html" class="dropdown-toggle disabled" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="false" data-target="#">Publications<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li class="first leaf menu-mlid-1141"><a href="journals.html" title="">Journal Papers</a></li>
                                            <li class="leaf menu-mlid-1145"><a href="books.html" title="">Books</a></li>
                                            <li class="leaf menu-mlid-1135"><a href="conferences.html" title="">Conference Papers</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="block-menu-block-5" class="block block-menu-block utility-menu-mobile"></div>
                    <div id="block-block-29" class="block block-block donate-btn-block">
                        <div class="content">
                            <p><a class="donate-btn-link" href="donate.html">Donate</a></p>
                        </div>
                    </div>
                    <div id="block-menu-menu-utility-nav" class="block block-menu"></div>
                </div>
            </nav>
        </div>
    </div>
</header>
